

{% block head %}


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--ANIMATION BUTTONS loading.io -->
	<!-- MATERIAL DESIGN ICONIC FONT -->
	<title>Recupération mot de passe</title>
	<link rel="stylesheet" href="{{ asset('login/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
	<!-- FONT AWESOME (LOCAL) -->
	<link href="{{ asset('login/fa/css/all.css') }}" rel="stylesheet">
	<!-- BOOTSTRAP (LOCAL) -->
	<link rel="stylesheet" href="{{ asset('login/css/bootstrap.min.css') }}">
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="{{ asset('login/css/style.css') }}">
	<link rel="shortcut icon" href="{{ asset('login/img/favicon.ico') }}">
	<script src="{{ asset('login/js/Jquery.js') }}"></script>
	<script src="{{ asset('login/js/form.js') }}"></script>
    </head>
{% endblock %}
{% include 'navbar/nav.html.twig' %}
{% form_theme forgotpw_form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<body>

	<div id="part" class="wrapper" style="background: linear-gradient(90deg, rgba(0,119,119,1) 64%, rgba(200,200,200,1) 100%);">
		<div id="particles-js"></div>
		<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
		<script src="{{ asset('login/js/app.js') }}"></script>
		
		<div class="inner">
			<div class="image-holder"><br><br><br>
				<img  src="{{ asset('login/img/logo.png') }}" alt="logo_wazzup">
				
			</div>
	{{ form_start(forgotpw_form,{attr:{'novalidate':'novalidate'}}) }}
				<h6>Veuillez saisir votre email pour recevoir un nouveau mot de passe de recuperation</h6><br>
			  {% if forgotpw_form.email.vars.valid==false %}
			  <div class="alert alert-success">
			  <span class="badge badge-primary" style="font-size:0.6vw">Email trouvé</span> , Un mot passe a été genéré et envoyé à votre email !
            </div>
			   {% else %}
            <div class="alert alert-danger">
			  Aucun utilisateur associé a cette email !
            </div>
			{% endif %}
		
				<div class="form-wrapper">
					{# <input type="text" placeholder="Email" class="form-control"> #}
					{{form_widget(forgotpw_form.email,{'attr': {'class': 'form-control','placeholder':'utilisateur@wazzup.com','name':'_username'}})}}
					<i class="zmdi zmdi-email"></i>
				</div>
			{{ form_widget(forgotpw_form.Submit, { 'label': 'Réinitialiser mot de passe', 'attr':{'class':'ld-over-full-inverse','style':'width:250px;margin-top:10px'} }) }}

		 {{ form_end(forgotpw_form) }}
		</div>
	</div>
</body>
</html>
{% endblock %}