{#{% extends 'base.html.twig' %}#}
{% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
        <meta name="author" content="PIXINVENT">
        <title>Wazzup Profile</title>
        <link rel="apple-touch-icon" href="dashboard/app-assets/images/ico/apple-icon-120.png">
        <link rel="shortcut icon" type="image/x-icon" href="dashboard/app-assets/images/ico/favicon.ico">
        <link
                href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/vendors.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/charts/apexcharts.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/extensions/toastr.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/extensions/jquery.rateyo.min.css')}}">


        <!-- END: Vendor CSS-->

        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/pages/page-profile.css')}}">

        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap-extended.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/colors.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/components.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/dark-layout.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/bordered-layout.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/semi-dark-layout.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/pages/ui-feather.css')}}">

        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/plugins/extensions/ext-component-ratings.css')}}">
        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/core/menu/menu-types/vertical-menu.css')}}">

        {#        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/pages/dashboard-ecommerce.css')}}">#}
        {#        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/plugins/charts/chart-apex.css')}}">#}
        <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/plugins/extensions/ext-component-toastr.css')}}">
        <!-- END: Page CSS-->
        {#   CUSTOM CSS EMOJIS  #}

        <link rel="stylesheet" href="{{asset('publication/ext/wdt-emoji-bundle-0.2.1/wdt-emoji-bundle.css')}}"/>
        <script type="text/javascript" src="{{asset('publication/ext/wdt-emoji-bundle-0.2.1/emoji.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('publication/ext/wdt-emoji-bundle-0.2.1/wdt-emoji-bundle.js')}}"></script>


        <style type="text/css">
            body {
                font-family: 'Open Sans', sans-serif;
                overflow-y: scroll;
            }

            label {
                font-weight: bold;
            }

            .label-block {
                display: block;
                text-align: center;
            }

            #fullname-output,
            #comment-output,
            #contenteditable-output,
            #contenteditable2-output {
                min-height: 43px;
                padding: 10px;
                background-color: rgba(255, 255, 0, 0.14);
            }

            #head-title .emoji-outer {
                width: 64px;
                height: 64px;
            }

            .form-control {
                padding-right: 27px;
            }

            div.form-control {
                height: auto;
            }

            .todo-list li {
                line-height: 26px;
            }

            .bottom-text .emoji-sizer {
                width: 14px;
                height: 14px;
            }

            .mobile-notice {
                background: #ffff00;
                padding: 10px;
                border-radius: 20px
            }

            .set-changers {
                margin: 20px 0;
            }

            h4 {
                line-height: 1.5em;
            }
        </style>

    </head>
{% endblock %}
    {% include 'home/header.html.twig' %}
    {% include 'home/sidebar.html.twig' %}
{#       {% block navbar %}#}
{#           {% include 'navbar/nav.html.twig' %}#}
{#       {% endblock %}#}
{#{% block title %}Publication index{% endblock %}#}

{% block body %}
    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Profile</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('app_publication_index') }}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Pages</a>
                                    </li>
                                    <li class="breadcrumb-item active" href="{{ path('app_profile') }}">Profile
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">#}
                {#                    <div class="form-group breadcrumb-right">#}
                {#                        <div class="dropdown">#}
                {#                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle waves-effect waves-float waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg></button>#}
                {#                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="app-todo.html"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square mr-1"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square mr-1"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mr-1"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-1"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg><span class="align-middle">Calendar</span></a></div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="content-body">
                <div id="user-profile">
                    <!-- profile header -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card profile-header mb-2">
                                <!-- profile cover photo -->
                                <img class="card-img-top" src="{{ asset('dashboard/app-assets/images/profile/user-uploads/timeline.jpg') }}" alt="User Profile Image">
                                <!--/ profile cover photo -->

                                <div class="position-relative">
                                    <!-- profile picture -->
                                    <div class="profile-img-container d-flex align-items-center">
                                        <div class="profile-img">
                                            <img src="{{ utili.avatar }}" class="rounded img-fluid" alt="Card image">
                                        </div>
                                        <!-- profile title -->
                                        <div class="profile-title ml-3">
                                            <h2 class="text-white">{{ utili.nom  }} {{ utili.prenom  }}</h2>
                                            <p class="text-white">{{ utili.typeUser }}</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- tabs pill -->
                                <div class="profile-header-nav">
                                    <!-- navbar -->
                                    <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                                        <button class="btn btn-icon navbar-toggler waves-effect waves-float waves-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                                        </button>

                                        <!-- collapse  -->
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                                <ul class="nav nav-pills mb-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link font-weight-bold active" href="javascript:void(0)">
                                                            <span class="d-none d-md-block">Mur</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss d-block d-md-none"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                            <span class="d-none d-md-block">À propos</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info d-block d-md-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                            <span class="d-none d-md-block">Photos</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image d-block d-md-none"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                            <span class="d-none d-md-block">Ami(e)s</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users d-block d-md-none"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- edit button -->
                                                <button class="btn btn-primary waves-effect waves-float waves-light" onclick="RedirectToEdit()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit d-block d-md-none"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                                    <span class="font-weight-bold d-none d-md-block">Modifier</span>
                                                </button>
                                            </div>
                                        </div>
                                        <!--/ collapse  -->
                                    </nav>
                                    <!--/ navbar -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ profile header -->
                    <!-- profile info section -->
                    <section id="profile-info">
                        <div class="row">
                            <!-- left profile info section -->
                            <div class="col-lg-3 col-12 order-2 order-lg-1">
                                <!-- about -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="mb-75">About</h5>
                                        <p class="card-text">
                                            Welcome To Wazzup !
                                        </p>
                                        <div class="mt-2">
                                            <h5 class="mb-75">Joined:</h5>
                                            <p class="card-text">{{ utili.creationDate|date('M d , Y')}}</p>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="mb-75">Rate:</h5>
                                            <p class="card-text">
                                                <div class="read-only-ratings" data-rateyo-read-only="true"></div>
                                            </p>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="mb-75">Email:</h5>
                                            <p class="card-text">{{ utili.email }}</p>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="mb-50">Numéro de Tel:</h5>
                                            <p class="card-text mb-0">{{ utili.numTel }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ about -->
                                <!-- suggestion pages -->
                                <div class="card">
                                    <div class="card-body profile-suggestion">
                                        <h5 class="mb-2">Evénements de la vie</h5>
                                        {#                                        {{ dump(eventFace2Face) }}#}
                                        {% if eventFace2Face|length ==0%}

                                            <h6 class="mb-0 text-Warning"><i data-feather='calendar' ></i>Pas d'événements pour le moment</h6>


                                        {% else %}
                                            {% for eventsF in eventFace2Face %}
                                                <!-- user suggestions -->
                                                <div class="d-flex justify-content-start align-items-center mb-1 ">
                                                    <div class="avatar mr-1">
                                                        <img src="{{ eventsF.idUtilisateur.avatar }}" alt="avatar img" height="40" width="40">
                                                    </div>
                                                    <div class="profile-user-info ">
                                                        <h6 class="mb-0 text-accent-1">{{ eventsF.nomEvent }}</h6>
                                                        <small class="text-muted text-info"><a href="{{ path('app_profile_byid',{'id': eventsF.idUtilisateur.idUtilisateur}) }}">{{ eventsF.idUtilisateur.nom }}.{{ eventsF.idUtilisateur.prenom }}</a></small>
                                                        <i class="text-success" data-feather='check-circle'></i>
                                                    </div>
                                                    <div class="profile-star ml-auto text-dark">{{ eventsF.nbrParticipants }} Places</div>
                                                </div>
                                            {% endfor%}
                                        {% endif %}
                                        <!-- user suggestions -->
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/1-small.png" alt="avatar" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Harriett Adkins</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/10-small.png" alt="avatar" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Juan Weaver</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/3-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Claudia Chandler</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/5-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Earl Briggs</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto">#}
                                        {#                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star profile-favorite font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        <!-- user suggestions -->
                                        {#                                        <div class="d-flex justify-content-start align-items-center">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/6-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Jonathan Lyons</h6>#}
                                        {#                                                <small class="text-muted">Beauty Store</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                                <!--/ suggestion pages -->
                            </div>
                            <!--/ left profile info section -->

                            <!-- center profile info section -->
                            <div class="col-lg-6 col-12 order-1 order-lg-2">
                                <div class="card">
                                    <div class="card-body" id="postForm">
                                        {#                                        loading new component#}
                                        <div class="d-flex justify-content-center my-1">
                                            <div class="spinner-border" role="status" aria-hidden="true"></div>
                                        </div>
                                    </div>

                                </div>
                                {% for publication in publications %}
                                    <!-- post 1 - LOAD -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <!-- avatar -->
                                                <div class="avatar mr-1">
                                                    <img src="{{ publication.idUtilisateur.avatar }}" alt="avatar img" height="50" width="50">
                                                </div>
                                                <!--/ avatar -->
                                                <div class="profile-user-info">
                                                    <a href="{{ path('app_profile_byid',{'id': publication.idUtilisateur.idUtilisateur}) }}"><h6 class="mb-0">{{ publication.idUtilisateur.nom}} {{ publication.idUtilisateur.prenom}}</h6></a>
                                                    <small class="text-muted">{{ publication.datePublication|date('d M Y')}} at {{ publication.datePublication|date('H:i')}}</small>


                                                </div>
                                                <div class="btn-group">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-medium-3 cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <circle cx="12" cy="12" r="1"></circle>
                                                        <circle cx="12" cy="5" r="1"></circle>
                                                        <circle cx="12" cy="19" r="1"></circle>
                                                    </svg>
                                                    <div class="dropdown-menu" style="">
                                                        {% if publication.idUtilisateur.idUtilisateur==user.idUtilisateur %}

                                                            <a class="dropdown-item" id="{{ publication.idPublication }}"  onclick="editPub(this.id)" data-toggle="modal" data-target="#dark">Modifier la publication</a>
                                                            <a class="dropdown-item" id="{{ publication.idPublication }}" onclick="delPub(this.id)" data-toggle="modal" data-target="#Danger">Supprimer la publication</a>
                                                        {% else %}
                                                            <a class="dropdown-item" id="{{ publication.idPublication }}" onclick="id_p=this.id" data-toggle="modal" data-target="#modalInfo">Signaler la publication</a>
                                                        {% endif %}
                                                        <a class="dropdown-item" href="{{ path('app_offre_publicitaire_new') }}">Sponsoriser cette publication</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="card-text comment-output">
                                                {{ publication.description }}
                                            </p>
                                            {% if '.gif' in publication.fichier %}
                                                <!-- post img -->
                                                <img class="img-fluid rounded mb-75" src="{{publication.fichier}}" alt="lool">
                                                <!--/ post img -->
                                            {% endif %}
                                            {% if publication.fichier |length>4 and not('.gif' in publication.fichier)%}
                                                <!-- post img -->
                                                <img class="img-fluid rounded mb-75" src="{{vich_uploader_asset(publication)|imagine_filter('ImgPublicLoad')}}" alt="lool">
                                                <!--/ post img -->
                                            {% endif %}
                                            <!-- like share -->
                                            <div class="row d-flex justify-content-start align-items-center flex-wrap pb-50">
                                                <div class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2">
                                                    <a href="javascript:void(0)" class="d-flex align-items-center text-muted text-nowrap">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart profile-likes font-medium-3 mr-50"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                        <span>0</span>
                                                    </a>

                                                    <!-- avatar group with tooltip -->
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar-group ml-1">
                                                            {% set  count=0 %}
                                                            {% for commentaire in commentaires %}
                                                                {% if  commentaire.idPublication.idPublication==publication.idPublication %}
                                                                    {% set count=count+1 %}
                                                                    <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="{{ commentaire.Message }}" class="avatar pull-up">
                                                                        <img src="{{ commentaire.idUtilisateur.avatar }}" alt="Avatar" height="26" width="26">
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <a href="javascript:void(0)" class="text-muted text-nowrap ml-50">{{ count }}</a>
                                                    </div>
                                                    <!-- avatar group with tooltip -->
                                                </div>

                                                <!-- share and like count and icons -->
                                                <div class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2">
                                                    <a href="javascript:void(0)" class="text-nowrap">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square text-body font-medium-3 mr-50"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                        <span class="text-muted mr-1">{{ count }}</span>
                                                    </a>

                                                    <a href="javascript:void(0)" class="text-nowrap">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2 text-body font-medium-3 mx-50"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
                                                        <span class="text-muted">0</span>
                                                    </a>
                                                </div>
                                                <!-- share and like count and icons -->
                                            </div>
                                            <!-- like share -->
                                            {% for commentaire in commentaires %}
                                                {% if  commentaire.idPublication.idPublication==publication.idPublication %}
                                                    <!-- comments -->
                                                    <div class="d-flex align-items-start mb-1">
                                                        <div class="avatar mt-25 mr-75">
                                                            <img src="{{ commentaire.idUtilisateur.avatar }}" alt="Avatar" height="34" width="34">
                                                        </div>
                                                        <div class="profile-user-info w-100">
                                                            <div class="d-flex align-items-center justify-content-between">
                                                                <h6 class="mb-0">{{commentaire.idUtilisateur.nom}} {{ commentaire.idUtilisateur.prenom}}</h6>
                                                                <a href="javascript:void(0)">
                                                                    {#                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart text-body font-medium-3"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>#}
                                                                    {#                                                                    <span class="align-middle text-muted">0</span>#}
                                                                    {% if commentaire.idUtilisateur.idUtilisateur==user.idUtilisateur or user.idUtilisateur==publication.idUtilisateur.idUtilisateur %}
                                                                        <a href="{{ path('Remove_Commentaire',{'idCommentaire':commentaire.idCommentaire}) }}"><div class="icon-wrapper text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></div></a>
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <small>{{ commentaire.Message }}</small>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            <!--/ comments -->
                                            <form action="{{ path('app_commentaire_new',{'Pid':publication.idPublication}) }}" method="post">
                                                <!-- comment box -->
                                                <fieldset class="form-label-group mb-75">
                                                    <textarea class="form-control" id="label-textarea" rows="3" placeholder="Add Comment" name="commentaire{{ publication.idPublication }}"></textarea>
                                                    <label for="label-textarea">Add Comment</label>
                                                </fieldset>
                                                <button type="submit" class="btn btn-sm btn-primary waves-effect waves-float waves-light">Post Comment</button>
                                            </form>
                                            <!--/ comment box -->
                                            {#                                        <a href="{{ path('app_commentaire_new',{'Pid':publication.idPublication}) }}"><button type="button" class="btn btn-sm btn-primary waves-effect waves-float waves-light">Post Comment</button></a>#}

                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <!--/ center profile info section -->

                            <!-- right profile info section -->
                            <div class="col-lg-3 col-12 order-3">
                                <!-- latest profile pictures -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="mb-0">Photos Récentes</h5>
                                        <div class="row">
                                            {% set Countimg=0 %}
                                            {% for p in publications %}
                                                {% if p.fichier |length>4%}
                                                    {% set Countimg=Countimg+1 %}
                                                    <div class="col-md-4 col-6 profile-latest-img">
                                                        <a href="javascript:void(0)">
                                                            {% if '.gif' in p.fichier %}
                                                                <!-- post img -->
                                                                <img class="img-fluid rounded" src="{{p.fichier}}" alt="lool">
                                                                <!--/ post img -->
                                                            {% endif %}
                                                            {% if p.fichier |length>4 and not('.gif' in p.fichier)%}
                                                                <!-- post img -->
                                                                <img class="img-fluid rounded" src="{{vich_uploader_asset(p)|imagine_filter('ImgPublicLoad')}}" alt="lool">
                                                                <!--/ post img -->
                                                            {% endif %}

                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if Countimg==0 %}
                                            <h6 class="mb-0 text-Warning"><i data-feather='camera-off'></i> Aucune Image Publiée</h6>
                                        {% endif %}

                                        <!--/ latest profile pictures -->
                                    </div>
                                </div>
                                <!--/ latest profile pictures -->

                                <!-- suggestion -->
                                {#                                <div class="card">#}
                                {#                                    <div class="card-body">#}
                                {#                                        <h5>Suggestions</h5>#}
                                {#                                        {% for sugUser in utilisateurs %}#}
                                {#                                            <div class="d-flex justify-content-start align-items-center mt-2">#}
                                {#                                                <div class="avatar mr-75">#}
                                {#                                                    <img src="{{ sugUser.avatar }}" alt="avatar" height="40" width="40">#}
                                {#                                                </div>#}
                                {#                                                <div class="profile-user-info">#}
                                {#                                                    <h6 class="mb-0">{{ sugUser.nom }} {{ sugUser.prenom }}</h6>#}
                                {#                                                    #}{#                                                <small class="text-muted">6 Mutual Friends</small>#}
                                {#                                                </div>#}
                                {#                                                <button type="button" class="btn btn-primary btn-icon btn-sm ml-auto waves-effect waves-float waves-light">#}
                                {#                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>#}
                                {#                                                </button>#}
                                {#                                            </div>#}
                                {#                                        {% endfor %}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <!--/ suggestion -->

                                <!-- Cinema Sug pages -->
                                <div class="card">
                                    <div class="card-body profile-suggestion">
                                        <h5 class="mb-2">Evénements Cinéma</h5>
                                        {#                                        {{ dump(eventFace2Face) }}#}
                                        {% if eventCinema|length ==0%}

                                            <h6 class="mb-0 text-Warning"><i data-feather='calendar' ></i> Pas d'événements pour le moment</h6>


                                        {% else %}
                                            {% for eventsC in eventCinema %}
                                                <!-- user suggestions -->
                                                <div class="d-flex justify-content-start align-items-center mb-1">
                                                    <div class="avatar mr-1">
                                                        <img src="{{ eventsC.idUtilisateur.avatar }}" alt="avatar img" height="40" width="40">
                                                    </div>
                                                    <div class="profile-user-info">
                                                        <h6 class="mb-0">{{ eventsC.nomEvent }}</h6>
                                                        <small class="text-muted text-info"><a href="{{ path('app_profile_byid',{'id': eventsC.idUtilisateur.idUtilisateur}) }}">{{ eventsC.idUtilisateur.nom }}.{{ eventsC.idUtilisateur.prenom }}</a></small>
                                                        <i class="text-success" data-feather='check-circle'></i>
                                                    </div>
                                                    <div class="profile-star ml-auto text-dark">{{ eventsC.nbrParticipants }} Places</div>
                                                </div>
                                            {% endfor%}
                                        {% endif %}
                                        <!-- user suggestions -->
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/1-small.png" alt="avatar" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Harriett Adkins</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/10-small.png" alt="avatar" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Juan Weaver</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/3-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Claudia Chandler</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                        {#                                        <!-- user suggestions -->#}
                                        {#                                        <div class="d-flex justify-content-start align-items-center mb-1">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/5-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Earl Briggs</h6>#}
                                        {#                                                <small class="text-muted">Company</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto">#}
                                        {#                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star profile-favorite font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        <!-- user suggestions -->
                                        {#                                        <div class="d-flex justify-content-start align-items-center">#}
                                        {#                                            <div class="avatar mr-1">#}
                                        {#                                                <img src="C:/xampp/htdocs/Wazzupweb/public/dashboard/app-assets/images/avatars/6-small.png" alt="avatar img" height="40" width="40">#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-user-info">#}
                                        {#                                                <h6 class="mb-0">Jonathan Lyons</h6>#}
                                        {#                                                <small class="text-muted">Beauty Store</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="profile-star ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star font-medium-3"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></div>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                                <!--/ suggestion pages -->
                            </div>
                            <!--/ right profile info section -->
                        </div>

                        <!-- reload button -->
                        <div class="row justify-content-center">
                            <div class="text-center">
                                {{ knp_pagination_render(publications) }}
                            </div>

                        </div>
                        <!--/ reload button -->
                    </section>
                    <!--/ profile info section -->
                </div>

            </div>
        </div>
    </div>

    </div>
    <div class="d-inline-block">
        <!-- Modal -->
        <div class="modal fade modal-danger text-left" id="danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel120">Supprimer une publication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Vous êtes sur le point de supprimer une publication.
                        êtes-vous sûr?
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" id="DeleteExec">Confirmer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {##}

    {#    #}
    <!--INFO MODAL-->
    <div class="d-inline-block">
        <!-- Modal -->
        <div class="modal fade modal-info text-left" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel130" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel130">Signaler la publication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Radio -->
                        <p class="text-center">
                            <strong>Type de signalisation</strong>
                        </p>
                        <div class="custom-control custom-control-info custom-radio">
                            <input type="radio" id="customRadio1" name="group1" class="custom-control-input" value="Contenu non pertinent" checked>
                            <label class="custom-control-label" for="customRadio1">Contenu non pertinent</label>
                        </div>
                        <div class="custom-control custom-control-info custom-radio">
                            <input type="radio" id="customRadio2" name="group1" class="custom-control-input" value="Nudité ou actes sexuels">
                            <label class="custom-control-label" for="customRadio2">Nudité ou actes sexuels</label>
                        </div>

                        <div class="custom-control custom-control-info custom-radio">
                            <input type="radio" id="customRadio3" name="group1" class="custom-control-input" value="Violence">
                            <label class="custom-control-label" for="customRadio3">Violence</label>
                        </div>
                        <div class="custom-control custom-control-info custom-radio">
                            <input type="radio" id="customRadio4" name="group1" class="custom-control-input" value="Contenu indésirable">
                            <label class="custom-control-label" for="customRadio4">Contenu indésirable</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-info" data-dismiss="modal" onclick="SigPub()" id="SignalExec">Accept</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- MDB -->
    <!--EDIT MODAL-->
    <div class="modal fade modal-dark text-left" id="dark" tabindex="-1" aria-labelledby="myModalLabel150" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" id="editForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel150">Modifier cette Publication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark waves-effect waves-float waves-light" >Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--EDIT MODAL-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script
            type="text/javascript"
            src="{{ asset('/publication/js/custom_js.js') }}"
    ></script>

    {# CUSTOMED NEW#}
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2022<a class="ml-25"  target="_blank"></a><span class="d-none d-sm-inline-block">, All rights Reserved Wazzup</span></span><span class="float-md-right d-none d-md-block"></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="{{asset('dashboard/app-assets/vendors/js/vendors.min.js')}}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{asset('dashboard/app-assets/vendors/js/extensions/jquery.contextMenu.min.js')}}"></script>
    <script src="{{asset('dashboard/app-assets/vendors/js/extensions/jquery.ui.position.min.js')}}"></script>
    <script src="{{asset('dashboard/app-assets/vendors/js/extensions/toastr.min.js')}}"></script>
    <script src="{{asset('dashboard/app-assets/vendors/js/extensions/jquery.rateyo.min.js')}}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{{asset('dashboard/app-assets/js/core/app-menu.js')}}"></script>
    <script src="{{asset('dashboard/app-assets/js/core/app.js')}}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{{asset('dashboard/app-assets/js/scripts/extensions/ext-component-context-menu.js')}}"></script>
    <script src="{{asset('dashboard/app-assets/js/scripts/ui/ui-feather.js')}}"></script>

    <script src="{{asset('dashboard/app-assets/js/scripts/extensions/ext-component-ratings.js')}}"></script>

            <!-- END: Page JS-->
    <script>

        $('.pagination').addClass('btn btn-sm block-element border-0 mb-1 waves-effect waves-float waves-light pagin');
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
    {#   CUSTOM JS FOR NEW PUB #}
    <script type="text/javascript">
        $( document ).ready(function() {
            $.ajax('/publication/new', {
                success: function (data) {
                    $('#postForm').html(data);
                }
            });
        });
        readOnlyRatings = $('.read-only-ratings');
        {% if utili.evaluation==null %}
        {% set eval=0 %}
        {% else %}
        {% set eval=utili.evaluation %}
        {% endif %}
        if (readOnlyRatings.length) {
            readOnlyRatings.rateYo({
                rating: {{ eval }},
                rtl: isRtl
            });
        }
    </script>
    </body>
{% endblock %}
