<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
	<div class="navbar-header">
		<ul class="nav navbar-nav flex-row">
			<li class="nav-item mr-auto">
				<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('collab/wazzup.png') }}" style="margin-top:-15%" alt="avatar" height="120" width="120">
					<h2 class="brand-text" style="margin-left: -20%; margin-top:-20%">Wazzup</h2>
				</a>
			</li>
			<li class="nav-item nav-toggle">
				<a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
					<i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
					<i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i>
				</a>
			</li>
		</ul>
	</div>
	<br><br><br>
	<div class="shadow-bottom"></div>
	<div class="main-menu-content">
		<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
			<li class=" nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="user"></i>
					<span class="menu-title text-truncate" data-i18n="User">Utilisateur</span>
				</a>
				<ul class="menu-content">
					<li>
						<a class="d-flex align-items-center" href="{{ path('app_edit_profile') }}">
							<i data-feather="edit"></i>
							<span class="menu-item text-truncate" data-i18n="List">Profile</span>
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center" href="{{path('app_publication_index')}}">
							<i data-feather="layout"></i>
							<span class="menu-item text-truncate" data-i18n="Edit">Actualités</span>
						</a>
					</li>
				</ul>
			</li>
			<li class=" nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="users"></i>
					<span class="menu-title text-truncate" data-i18n="User">Collaboration</span>
				</a>
				<ul class="menu-content">
					<li>
						<a class="d-flex align-items-center" href="{{ path('app_collab') }}">
							<i data-feather="file-plus"></i>
							<span class="menu-item text-truncate" data-i18n="List">Créer</span>
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center" href="{{ path('app_list_collab') }}">
							<i data-feather="list"></i>
							<span class="menu-item text-truncate" data-i18n="Edit">Liste</span>
						</a>
					</li>
				</ul>
			</li>


			<li>
				<a class="d-flex align-items-center" href="page-account-settings.html">
					<i data-feather="calendar"></i>
					<span class="menu-item text-truncate" data-i18n="Account Settings">Evenement</span>
				</a>
			</li>

			<li>
				<a class="d-flex align-items-center" href="page-faq.html">
					<i data-feather="credit-card"></i>
					<span class="menu-item text-truncate" data-i18n="FAQ">Paiement</span>
				</a>

			</li>
			<br><br><br><br>
			<br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
			<li>
				<a class="d-flex align-items-center" href="page-knowledge-base.html">
					<i data-feather="log-out" style="margin-left: 40%; color:red"></i>
					<span class="menu-item text-truncate" data-i18n="Knowledge Base"></span>
				</a>
			</li>


		</li>
	</ul>
	</div>
	</div>
</li></ul></div></div><!-- END: Main Menu-->
