<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Wazzup Admin</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/css/vendor.bundle.base.css') }}">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/jvectormap/jquery-jvectormap.css') }}"> <link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
	<link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('UIAdmin/assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link
	rel="stylesheet" href="{{ asset('UIAdmin/assets/css/style.css') }}"> <!-- End layout styles -->
<link rel="shortcut icon" href="{{ asset('login/img/favicon.ico') }}">


	<!-- BEGIN: Vendor CSS-->
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/vendors.min.css')}}">
	<!-- END: Vendor CSS-->

	<!-- BEGIN: Theme CSS-->
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap.css')}}"> <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap-extended.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/colors.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/components.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/dark-layout.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/bordered-layout.css')}}">
	<link
	rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/semi-dark-layout.css')}}">

	<!-- BEGIN: Page CSS-->
	<link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/core/menu/menu-types/vertical-menu.css')}}">
	<!-- END: Page CSS-->

	<!-- BEGIN: Custom CSS-->
<link
	rel="stylesheet" type="text/css" href="{{asset('dashboard/assets/css/style.css')}}"> <!-- END: Custom CSS-->
			<script src="{{ asset('login/js/Jquery.js') }}"></script>

<style>
.sidebar {
    position: relative;
    height: 100%;
}
</style>
</head>
<body>
	<div
		class="container-scroller">
		<!-- partial:partials/_sidebar.html -->
			{% include 'UIAdmin/sidebar.html.twig' %}
		<!-- partial -->
		<div
			class="container-fluid page-body-wrapper">
			<!-- partial:partials/_navbar.html -->
			<nav class="navbar p-0 fixed-top d-flex flex-row">
				<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
					<a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{ asset('UIAdmin/assets/images/logo-mini.svg') }}" alt="logo"/></a>
				</div>
				<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
						<span class="mdi mdi-menu"></span>
					</button>
					<ul class="navbar-nav w-100">
						<li class="nav-item w-100">
							<form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
								<input type="text" class="form-control" placeholder="Search products">
							</form>
						</li>
					</ul>
					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item dropdown d-none d-lg-block">
							<a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
								<h6 class="p-3 mb-0">Projects</h6>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-file-outline text-primary"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">Software Development</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-web text-info"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">UI Development</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-layers text-danger"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">Software Testing</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<p class="p-3 mb-0 text-center">See all projects</p>
							</div>
						</li>
						<li class="nav-item nav-settings d-none d-lg-block">
							<a class="nav-link" href="#">
								<i class="mdi mdi-view-grid"></i>
							</a>
						</li>
						<li class="nav-item dropdown border-left">
							<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
								<i class="mdi mdi-email"></i>
								<span class="count bg-success"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
								<h6 class="p-3 mb-0">Messages</h6>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<img src="{{ asset('UIAdmin/assets/images/faces/face4.jpg') }}" alt="image" class="rounded-circle profile-pic">
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">Mark send you a message</p>
										<p class="text-muted mb-0">
											1 Minutes ago
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<img src="{{ asset('UIAdmin/assets/images/faces/face2.jpg') }}" alt="image" class="rounded-circle profile-pic">
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
										<p class="text-muted mb-0">
											15 Minutes ago
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1">Profile picture updated</p>
										<p class="text-muted mb-0">
											18 Minutes ago
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<p class="p-3 mb-0 text-center">4 new messages</p>
							</div>
						</li>
						<li class="nav-item dropdown border-left">
							<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
								<i class="mdi mdi-bell"></i>
								<span class="count bg-danger"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
								<h6 class="p-3 mb-0">Notifications</h6>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-calendar text-success"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Event today</p>
										<p class="text-muted ellipsis mb-0">
											Just a reminder that you have an event today
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-settings text-danger"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Settings</p>
										<p class="text-muted ellipsis mb-0">
											Update dashboard
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-link-variant text-warning"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Launch Admin</p>
										<p class="text-muted ellipsis mb-0">
											New admin wow!
										</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<p class="p-3 mb-0 text-center">See all notifications</p>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
								<div class="navbar-profile">
									<img class="img-xs rounded-circle" src="{{picture}}" alt="">
									<p class="mb-0 d-none d-sm-block navbar-profile-name">{{prenom}}
										{{nom}}</p>
									<i class="mdi mdi-menu-down d-none d-sm-block"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
								<h6 class="p-3 mb-0">Profile</h6>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-settings text-success"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Settings</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item" href="{{path('deconnexion')}}">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-logout text-danger"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Deconnexion</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<p class="p-3 mb-0 text-center">Advanced settings</p>
							</div>
						</li>
					</ul>
					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
						<span class="mdi mdi-format-line-spacing"></span>
					</button>
				</div>
			</nav>
			<!-- partial -->
			<br><br><br><br>

			<!-- Basic Tables start -->
		
			<div class="row" id="basic-table" style="margin-top:8%;width:100%">
				<div class="col-12">
					{% for msg in app.session.flashBag.get('success') %}
					<div style="padding:12px" class="alert alert-success">
						{{ msg }}
					</div>
					{% endfor %}
					<script>
						$(document).ready(function () {
                   $(".alert-success").delay(3000).slideUp(300);
                         });
					</script>
					<div class="card">
						<div class="card-header">
							<h4 class="card-title" style="color:black">Utilisateurs</h4>
							
						</div>
						<div class="card-body"></div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr></tr>
									<tr>
										<th>Utilisateur</th>
										<th>Email</th>
										<th>Activé</th>
										<th>Action</th>
									</tr>
								</thead>
							</tr>
						</thead>
						<tbody>
							{% for c in users %}
								{% if c.typeUser == 'User' %}
									<tr>
										<td>
											<img src="{{c.getAvatar()}}" class="mr-75" height="20" width="20" alt="Angular"/>
											<span class="font-weight-bold">{{c.prenom}}
												{{c.nom}}</span>
										</td>
										<td><span class="badge badge-pill badge-primary">{{c.email}}</span></td>

										<td>
										{% if c.activated == true  %}
											<span class="badge badge-pill badge-success">Activé</span>
										{% else %}
											<span class="badge badge-pill badge-danger">Innactif</span>
                                        {% endif %}
										</td>
										<td>
											<div class="dropdown">
												<button type="button" class="btn btn-sm- dropdown-toggle hide-arrow" data-toggle="dropdown">
													<i class="mdi mdi-account-edit"></i>
												</button>
												<div class="dropdown-menu">
												{% if c.activated == false  %}
													<a class="dropdown-item" href="{{ path('admin_useractivate',{'id':c.idUtilisateur} )}}">
														<i class="mdi mdi-check"></i>
														<span>activer compte</span>
													</a>
														{% endif %}
													<a class="dropdown-item" href="{{ path('admin_userdelete',{'id':c.idUtilisateur} )}}">
														<i class="mdi mdi-delete"></i>
                                                         
														<span>Supprimer</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Basic Tables end -->
	<!-- main-panel ends -->
</body></div><!-- page-body-wrapper ends --></div><!-- container-scroller --><button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button><!-- END: Footer--><!-- BEGIN: Vendor JS--><script src="dashboard/app-assets/vendors/js/vendors.min.js"></script><!-- BEGIN Vendor JS--><!-- BEGIN: Page Vendor JS--><!-- END: Page Vendor JS--><!-- BEGIN: Theme JS--><script src="dashboard/app-assets/js/core/app-menu.js"> </script><script src="dashboard/app-assets/js/core/app.js"></script><!-- END: Theme JS--><!-- BEGIN: Page JS--><!-- END: Page JS--><script>
$(window).on('load', function () {
if (feather) {
feather.replace({width: 14, height: 14});
}
})</script></body><!-- END: Body--><!-- plugins:js --><script src="{{ asset('UIAdmin/assets/vendors/js/vendor.bundle.base.js') }}"> </script><!-- endinject --><!-- Plugin js for this page --><script src="{{ asset('UIAdmin/assets/vendors/chart.js/Chart.min.js') }}"></script><script src="{{ asset('UIAdmin/assets/vendors/progressbar.js/progressbar.min.js') }}"></script><script src="{{ asset('UIAdmin/assets/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script><script src="{{ asset('UIAdmin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script><script src="{{ asset('UIAdmin/assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script><!-- End plugin js for this page --><!-- inject:js --><script src="{{ asset('UIAdmin/assets/js/off-canvas.js') }}"></script><script src="{{ asset('UIAdmin/assets/js/hoverable-collapse.js') }}"></script><script src="{{ asset('UIAdmin/assets/js/misc.js') }}"></script><script src="{{ asset('UIAdmin/assets/js/settings.js') }}"></script><script src="{{ asset('UIAdmin/assets/js/todolist.js') }}"></script><!-- endinject --><!-- Custom js for this page --><script src="{{ asset('UIAdmin/assets/js/dashboard.js') }}"></script><!-- End custom js for this page --></body>