{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('navbar/style.css')}}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        	<nav class="navbar">
	<div class="navigation">
		<span class="sp1" onclick="window.location.href='{{ path('app_signup') }}';"><ion-icon name="create-outline"></ion-icon></span>

		<span class="sp2"  onclick="window.location.href='{{ path('app_auth') }}';"><ion-icon name="log-in-outline"></ion-icon></span>
		<span class="sp3" ></span>
		<span class="sp4" onclick="window.location.href='{{ path('app_home') }}';"><ion-icon name="home-outline"></ion-icon></span>
		<span class="sp5"></span>
		<span class="sp6"></span>
		<span class="sp7" ></span>
		<span class="sp8" ></span>
		<span class="sp9" ></span>
	</div>
</nav>
        {% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="{{asset('navbar/script.js')}}"></script>
