{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="author" content="PIXINVENT">
    <title>Wazzup Collaboration</title>
    <link rel="apple-touch-icon" href="dashboard/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="dashboard/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/vendors.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/charts/apexcharts.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/vendors/css/extensions/toastr.min.css')}}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/bootstrap-extended.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/colors.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/components.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/dark-layout.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/bordered-layout.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/themes/semi-dark-layout.css')}}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/core/menu/menu-types/vertical-menu.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/pages/dashboard-ecommerce.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/plugins/charts/chart-apex.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/app-assets/css/plugins/extensions/ext-component-toastr.css')}}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('dashboard/assets/css/style.css')}}">
    <!-- END: Custom CSS-->

</head>
{% endblock %}
{% include 'home/header.html.twig' %}
{% include 'home/sidebar.html.twig' %}
{% block body %}
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
             <h4 class="card-title mb-50 mb-sm-0" style = "margin-left:2%">Collaboration</h4>
            <br><br><br>
                        <div class="row mx-0">
                 <!-- creer collab Card -->
                        <div class="col-lg-6 col-12">
                            <div class="card card-revenue-budget">
                                <div class="row mx-0">
                                    <div class="col-md-7 col-12 revenue-report-wrapper">
                                        <div class="d-sm-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex align-items-center">                                            
                                            </div>
                                        </div>
                                       <img src="{{ asset('collab/log-removebg-preview.png') }}" height ="85%" width="120%" style = "margin-left:-5%;margin-top:-10%"alt="Logo">    
                                    </div>
                                    <div class="col-md-5 col-12 budget-wrapper">                                       
                                        <h4 class="card-title mb-50 mb-sm-0">Créer une collaboration</h4>
                   <div style = "margin-top:100%">
                                           {{ form_start(collab_form,{attr:{'novalidate':'novalidate'}}) }}
				        {{ form_errors(collab_form) }}
				<div class="form-wrapper">
					{# <input type="text" placeholder="Nom" class="form-control"> #}
					{{form_row(collab_form.nomCollab,{'attr': {'class': 'form-control','placeholder':'Wazzup'}})}}
					
				</div>
				<br><br>
                <div style = "margin-bottom:-12%">{{ form_row(collab_form.Submit, { 'label': 'Créer', 'attr':{'class':'btn btn-primary' } }) }} </div>
		
		 {{ form_end(collab_form) }}   </div>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                  <!--/ creer collab Card -->
                  <!-- Lister collab Card -->
                        <div class="col-lg-6 col-12">
                            <div class="card card-revenue-budget">
                                <div class="row mx-0">
                                    <div class="col-md-7 col-12 revenue-report-wrapper">
                                        <div class="d-sm-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex align-items-center">                                            
                                            </div>
                                        </div>
                                   <img src="{{ asset('collab/globe.png') }}" height ="80%" width="170%" style = "margin-left:-30%" alt="Logo"> 
                                    </div>
                                    <div class="col-md-5 col-12 budget-wrapper">                                       
                                        <h4 class="card-title mb-50 mb-sm-0">Lister vos collaboration</h4><a  href="{{ path('app_list_collab') }}">
                                        <button type="button" class="btn btn-primary" style = "margin-top:165%">Afficher</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Lister collab Card -->
                        </div>




            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2022<a class="ml-25"  target="_blank"></a><span class="d-none d-sm-inline-block">, All rights Reserved Wazzup</span></span><span class="float-md-right d-none d-md-block"></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="dashboard/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="dashboard/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="dashboard/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="dashboard/app-assets/js/core/app-menu.js"></script>
    <script src="dashboard/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="dashboard/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>

{% endblock %}