{% extends 'base.html.twig' %}
{#{% block title %}New Paiement{% endblock %}#}

{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{asset('paiement/stylepaiement.css')}}">

</head>
<body>

<div class="container">

    {{form_start(form) }}

        <div class="row">

            <div class="col">

                <p contenteditable spellcheck="false">WAZZUP PREMIUM</p>

                <div class="inputBox">
                    <span>Name offer :</span>
                    <input type="text" placeholder="Still fixing!" READONLY/>
{#                    {{ form_widget(form.nomOffre)}}#}
                </div>
                <span>Methode de paiement :</span>
                <div class="Select-dropdown">
                    {{ form_widget(form.methodePaiement,{'attr':{'class':'form-control'}}) }}
{#                    <select name="Methode paiement" id="methodepaiement">#}
{#                        <option selected disabled>Choisir Methode paiement</option>#}
{#                        <option value="stripe">Stripe</option>#}
{#                        <option value="paypal">Paypal</option>#}
{#                    </select> #}
                </div>
                <div class="inputBox">
                    <span>Prix :</span>
                    {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}
{#                    <input type="text" placeholder="5$" READONLY/>#}

                </div>
                <div class="formgroup" id="message-form">
                    <span>Commentaire</span>
                    <textarea id="message" name="message" placeholder="Still fixing!"></textarea>
                </div>
                <div class="inputBox">
                    <span>Developper par :</span>
                    <img src="images/wazzup_6.png" style="object-fit:fill;
            width:50px;
            height:50px;"/>
                </div>
            </div>

            <div class="col">

                    <div class="inputBox">

                    <img src="images/Mou7awla3 (1).png" style="object-fit:fill;
            width:300px;
            height:300px;"/>
                </div>
                <div class="inputBox">
                    <span>cards accepted :</span>
                    <img src="images/card_img.png" alt="">
                </div>
                    </div>
                </div>
{#    <a href="https://buy.stripe.com/test_fZeaFI0uf3FR6Z23cc" >#}
        <input type="submit" value="Payer" class="submit-btn" onclick="myfunction()" >
    <script>
        function myfunction(){
            window.location.href="https://buy.stripe.com/test_fZeaFI0uf3FR6Z23cc";

        }
        </script>
    {{form_end(form) }}
</div>

</body>
</html>
{% endblock %}
