

{% block head %}


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--ANIMATION BUTTONS loading.io -->
	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="{{ asset('login/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
	<!-- FONT AWESOME (LOCAL) -->
	<link href="{{ asset('login/fa/css/all.css') }}" rel="stylesheet">
	<!-- BOOTSTRAP (LOCAL) -->
	<link rel="stylesheet" href="{{ asset('login/css/bootstrap.min.css') }}">
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="{{ asset('login/css/style.css') }}">
	<link rel="shortcut icon" href="{{ asset('login/img/favicon.ico') }}">
	<script src="{{ asset('login/js/Jquery.js') }}"></script>
	<script src="{{ asset('login/js/form.js') }}"></script>
    </head>
{% endblock %}
{% include 'navbar/nav.html.twig' %}
{% block body %}
<body>

	<div id="part" class="wrapper" style="background: linear-gradient(90deg, rgba(0,119,119,1) 64%, rgba(200,200,200,1) 100%);">
		<div id="particles-js"></div>
		<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
		<script src="{{ asset('login/js/app.js') }}"></script>
		<br><br><br><br><br>
		<div class="inner">
			<div class="image-holder"><br><br><br>
				<img  src="{{ asset('login/img/logo.png') }}" alt="logo_wazzup">
			</div>
	{{ form_start(auth_form,{attr:{'novalidate':'novalidate'}}) }}
				<h3 class="loginhead"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;S'identifier</h3>
				<h5>REMPLIR LES CHAMPS POUR ACCEDER A VOTRE COMPTE</h5><br>
				        {{ form_errors(auth_form) }}

				<div class="form-wrapper">
					{# <input type="text" placeholder="Email" class="form-control"> #}
					{{form_row(auth_form.email,{'attr': {'class': 'form-control','placeholder':'utilisateur@wazzup.com'}})}}
					<i class="zmdi zmdi-email"></i>
				</div>
				<div class="form-wrapper">
					{# <input type="password" placeholder="Mot de passe" class="form-control"> #}
					{{form_row(auth_form.mdp,{'attr': {'class': 'form-control','placeholder':'*******'}})}}
					<i class="zmdi zmdi-lock"></i>
				</div>

				<button class="" data-btn>Soumettre
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
		 {{ form_end(auth_form) }}
		</div>
	</div>
</body>
</html>
{% endblock %}